<Template>
    <flowExecutionUrl>$flowExecutionUrl</flowExecutionUrl>
	<flowExecutionKey>$flowExecutionKey</flowExecutionKey>
	<View name="LoginScreen"/>
    <ActionList>
                <Action name="validate"/>
    </ActionList>
</Template>